<style>
    .research-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .research-thumb {
    width: 150px;
    margin-right: 20px;
    border-radius: 10px; /* Rounded rectangle */
    overflow: hidden; /* Ensures the border-radius affects the image */
  }

  .research-thumb img {
    width: 100%;
    display: block; /* Removes bottom gap */
  }

  .research-text {
    flex: 1;
    font-size: 16px;
  }

  .research-text h2, 
  .research-text p, 
  .research-text a {
    font-size: inherit;
    margin: 0;
    padding: 0;
  }

  .research-text h2 {
    margin-bottom: 0.5em;
  }

  .underline {
    text-decoration: underline;
  }

  .conference {
    font-style: italic;
  }
</style>

<div class="research-item">
    <div class="research-thumb">
      <img src="images/kpcontrolnet.jpg" alt="Thumbnail for KPControlNet" />
    </div>
    <div class="research-text">
      <p><strong>Towards a size-aware implicit 2-D cloth rendering</strong></p>
      <p>Bastian Scharnagl, Christian Groth</p>
      <p class="conference">7th IEEE International Conference on Artificial Intelligence & eXtended and Virtual Reality (AIxVR 2025)</p>
      <a href="https://ieeexplore.ieee.org/abstract/document/10896109">Publication</a>      
      <a href="https://github.com/BastianScharnagl/size-aware-tryon">Project</a>
  </div>
</div>

<div class="research-item">
  <div class="research-thumb">
    <img src="images/kpnet.png" alt="Thumbnail for KPNet" />
  </div>
  <div class="research-text">
    <p><strong>KPNet: Towards a parameterized implicit 2d cloth rendering</strong></p>
    <p>Bastian Scharnagl, Christian Groth</p>
    <p class="conference">International Conference on Image Processing and Artificial Intelligence (IPAI 2024)</p>
    <a href="https://ieeexplore.ieee.org/abstract/document/10896109">Publication</a>      
    <a href="https://github.com/BastianScharnagl/kpnet">Project</a>
</div>
</div>

<div class="research-item">
    <div class="research-thumb">
      <img src="images/eeg.png" alt="Thumbnail for EEG classification" />
    </div>
    <div class="research-text">
      <p><strong>Evaluation of different deep learning approaches for EEG classification</strong></p>
      <p>Bastian Scharnagl, Christian Groth</p>
      <p class="conference">5th International Conference on Artificial Intelligence for Industries (AI4I 2022)</p>
      <a href="https://ieeexplore.ieee.org/abstract/document/10123480">Publication</a>      
    </div>
</div>
