@font-face {
  font-family: "Bastian";
  src: url("/assets/fonts/font_bastianscharnagl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Bastian", sans-serif;
}